@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
 

  $font-family-sans-serif: 'Montserrat', sans-serif;
  $font-family-base: $font-family-sans-serif;
  
  /*@import '~bootstrap/scss/bootstrap';
  

  /*BOTONES COLORES DE BOOTSTRAP*/
  // Sobrescribir variables de Bootstrap
  $primary: #007bff;   // Color primario nuevo
  $secondary: #6c757d; // Color secundario nuevo
  $success: #28a745;   // Color de éxito nuevo
  $info: #17a2b8;      // Color de información nuevo
  $warning: #ffc107;   // Color de advertencia nuevo
  $danger: #c10d47;    // Color de peligro nuevo
  $light: #f8f9fa;     // Color claro nuevo
  $dark: #343a40;      // Color oscuro nuevo

  // Importar archivos Sass de Bootstrap
  // Ahora importas Bootstrap

  /*CARD*/
  $card-border-radius: 1.3rem; // Cambia esto al valor que prefieras

/*BTN-PRIMARY*/
.btn-primary {
    color: #fff!important;
    background-color: #007bff;
    border-color: unset;
    border-color: var(--babyblue);
    padding: 3px 12px!important;
    border-radius: 10px!important;
    background: linear-gradient(90deg, var(--purple-sb) 0%, var(--bluelight-sb) 100%);
}

@import '~bootstrap/scss/bootstrap';
